.display {
    color: #FFFFFF;
    text-align: right;
}

.display__buffer {
    font-weight: 300;
    font-size: 18px;
    direction: rtl;
    line-height: 21px;
    text-align: right;
    margin: 0 0 8px 0;
}

.display__placeholder {
    opacity: 0.6;
}

.display__result {
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 24px;
}
